<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rise Up" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Riseup" %>">
    <!-- Latest compiled and minified CSS -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %> 
      <div class="branding">
        <div class="container">
          <div class="col-lg-12 logos">
            <a href="/" id="logo" class="pull-left"><img src="http://www.plang.com.br/riseup/images/logo.png" alt=""></a>
            <div class="logo-set pull-right">
              <ul>
                <li>
                  <a href="#"><img src="http://www.plang.com.br/riseup/images/direct_relief_logo.png" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="http://www.plang.com.br/riseup/images/oxfarm_logo.png" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>  
      </div>
      <div class="backdrop">
      </div> 
    </header>
    <div class="container main-container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    <div class="container">
    <footer>
      
        <div class="row"></div>
      
    </footer>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>
</html>
